= image_tag("https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c66.66.828.828/s160x160/483899_10151169172531954_1387276106_n.jpg", :alt => "Faceball pic")
= facebook_profile_image_tag("lhsu1.jpg", :radius => 'max')
= facebook_profile_image_tag("billclinton.jpg", :width => 90, :height => 130, :crop => :fill, :gravity => :north_west, :radius => 'max')