.faceball
  .gravatar
    = facebook_profile_image_tag(user.username + '.jpg', :width => user.radius, :height => user.radius, :crop => :fill, :gravity => :north_west, :radius => 'max', :border => '4px_solid_black', :background => 'rgb:fff', :alt => "facebook_profile")
  #username
    = user.username.titleize
  #radius{"data-mercury" => "simple"}
    = user.radius


