.faceball
  .gravatar
    = facebook_profile_image_tag(user.username + '.jpg', :width => user.radius, :height => user.radius, :crop => :fill, :gravity => :north_west, :radius => 'max', :alt => "facebook_profile")
  .username
    = user.username.titleize
